{% extends 'base.html.twig' %}



{% block body %}

<div class="body">

    <img src="{{ asset('img/louvrecover.jpg') }}" width="100%" style="padding-bottom: 10px;" >

    <div class="text-center"><h1>Le Musée du Louvre</h1></div>
    <hr width="50%"><br>


    <div class="container">
        <div class="row">

      <p class="offset-lg-1 col-lg-10 offset-lg-1 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam iaculis pharetra porttitor.
          Nulla facilisi. Sed a diam ut nisi fermentum volutpat ac nec nisl. In dictum consectetur orci nec sagittis.
          Pellentesque vulputate, ipsum et rutrum cursus, leo odio vulputate quam, sit amet sollicitudin nunc turpis vitae leo.
          </p>
          <p class="offset-lg-1 col-lg-10 offset-lg-1 text-justify">Phasellus ex erat, elementum malesuada euismod vel, tincidunt sed mi. Vivamus dapibus ac est laoreet scelerisque. Maecenas imperdiet augue quis mi tempor, eget venenatis dolor ultricies.
          Vivamus eget tincidunt ex. Ut quis tortor a tellus viverra sagittis id vel ipsum. Morbi commodo vehicula mauris id laoreet.
          Aenean pretium dolor quis erat pretium, vel porta ante tristique. Sed sollicitudin volutpat nisl quis rhoncus. Cras porttitor, ex eu pharetra placerat,
          lectus urna sodales enim, maximus sollicitudin libero nibh eget lorem. </p><br><br>
        </div>
    </div><br><br>

    <div class="offset-lg-2 col-lg-8 offset-lg-2" id="encart">
    <div class="card  text-center">
        <div class="card-body">
            <span class="card-title" id="encart">Réserver directement vos billets en ligne </span>
            <a class="waves-effect waves-light btn-large ml-lg-4 ml-md-4" id="bouton"">Billeterie</a>
        </div>
    </div>
    </div>




<div class="offset-lg-1 col-lg-10 offset-lg-1">
    <div class="card-deck offset-lg-1">
        <div class="card ">
            <img class="card-img-top" src="{{ asset('img/cardimage3.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Actualités</h5>
                <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus, quam sit amet pretium auctor,
                    risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                    Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                    In euismod enim et erat porttitor volutpat.
                    Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>
                <a class="waves-effect waves-light btn-small" id="bouton2">En Savoir plus</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('img/cardimage1.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Oeuvres</h5>
                <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus, quam sit amet pretium auctor,
                    risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                    Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                    In euismod enim et erat porttitor volutpat.
                    Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>

                <a class="waves-effect waves-light btn-small" id="bouton2">En Savoir plus</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('img/cardimage5.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Le Palais</h5>
                <p class="card-text">Nam aliquam ultrices lectus, nec mattis quam dapibus in. Nulla faucibus, quam sit amet pretium auctor,
                    risus massa ultrices nisi, sed faucibus nulla ligula eget lectus.
                    Praesent id nibh ullamcorper, condimentum nulla eget, auctor dui.
                    In euismod enim et erat porttitor volutpat.
                    Suspendisse potenti. Cras at tempor metus. Morbi in semper sapien, in mattis sem.</p>
                <a class="waves-effect waves-light btn-small" id="bouton2">En Savoir plus</a>
            </div>
        </div>
    </div>
</div>


</div>










{% endblock %}
